<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
   {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Actualizar Formato</title>
</head>
<body>
<form action="/confirmarActualizacionFormato/" method="post">
    {% csrf_token %}

    <div class="form-group col-md-6">
        <label >Id</label><br>
       <input type="text" name="id" value="{{idFormatoBD}}"  class="form-control" ><br><br>
    </div>
    <div class="form-group col-md-6">
        <label>Report ID</label><br>
       <input type="text" name="reporteID"  value="{{idFormatoActualizar}}" class="form-control"  ><br><br>
    </div>
    <div class="form-group col-md-6">
        <label>Report Name</label><br>
        <input type="text" name="name" value="{{nombreFormato}}" class="form-control"  ><br><br>
    </div>
    <div class="form-group col-md-6">
        <label>Details</label><br>
        <input type="text" name="details" value="{{descripcionFormato}}" class="form-control" ><br><br>
    </div>
    <button type="submit" class="btn btn-primary mb-2" value="Submit">Actualizar</button>


</form>

</body>
</html>