<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Crear Formato</title>
</head>
<body>

<h6 style="font-family: Arial; color: #00C1FF; font-size:40px; margin-left: 35%" class="card-title">Agregar un nuevo Formato</h6>
<br>
<form action="/formularioAgregarFormato/" method="post" style="wight: 50px">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">Report ID</label><br>
            <input type="text" name="reporteID" class="form-control" id="exampleFormControlInput1" placeholder="Report ID"><br><br>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput2">Report Name</label><br>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput2" placeholder="Report Name"><br><br>
        </div>
  </div>
  <div class="form-row">
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput3">Details</label><br>
            <input type="textarea" name="details" class="form-control" id="exampleFormControlInput3" placeholder="Details" rows="10" cols="40"><br><br>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput3">Enviar Registro</label><br>
            <button type="submit" class="btn btn-primary mb-2" value="Submit">Guardar</button>
        </div>
  </div>


</form>
</body>
</html>