<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Base de Datos Bibliográfica</title>
    <style>
        div{
            position: absolute;
            right: 10px;
            top: 5px;
        }
    </style>
</head>
<body>
<div>
    <button type="button" onclick ="location.href='{% url 'log' %}'"> Salir </button>
</div>

<H2>Agregar una Nueva Base de Datos Bibliográfica</H2>

<form action="/formularioAgregarBaseDatos/" method="post">
    {% csrf_token %}
    <label style="width: 200px; height: 10px; padding: 10px">api key</label><br>
    <input type="text" name="api_key" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <label style="width: 200px; height: 10px; padding: 10px">customer_id</label><br>
    <input type="text" name="customer_id" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <label style="width: 200px; height: 10px; padding: 10px">name</label><br>
    <input type="text" name="nameDataBase" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <label style="width: 200px; height: 10px; padding: 10px">passw</label><br>
    <input type="password" name="pass" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <label style="width: 200px; height: 10px; padding: 10px">platform</label><br>
    <input type="text" name="platform" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <label style="width: 200px; height: 10px; padding: 10px">requestor_id</label><br>
    <input type="text" name="requestor_id" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <label style="width: 200px; height: 10px; padding: 10px">url</label><br>
    <input type="text" name="url" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <label style="width: 200px; height: 10px; padding: 10px">User</label><br>
    <input type="text" name="user" style="width: 200px; height: 10px; padding: 10px"><br><br>

    <input type="submit" value = "Submit">
</form>
</body>
</html>