<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}GENERAR REPORTE{% endblock %}
        </title>
    <style>
        div{
            position: absolute;
            right: 10px;
            top: 5px;
        }
    </style>
</head>
<body>
<div>
    <button type="button" onclick ="location.href='{% url 'log' %}'"> Salir </button>
</div>

Bienvenido: {{e}}
<form action="/postcreateReport/" method="post">
<input type="text" name="aux" value="{{arregloBasesDatos}}" style="border:none; color:white"><br><br>
    <label> Seleccione la BDB que desea </label><br>
    {% for post in arregloBasesDatos %}

        <input type="checkbox" name="{{post}}" value="1"> {{post}}<br>
    {% endfor %}


<select name="formato" id="no_conformidad" onchange="selecOp()">
<option value="">Selecciona una Opcion</option>
<option value="tr_j1">Solicitudes de diario	</option>
</select><br><br>
    {% csrf_token %}
    Fecha inicial
    <input type="text" name ="fechaInicial" required><br><br>
    Fecha final
    <input type="text" name ="fechaFinal" required><br><br>
    <input type="submit" value = "Submit">

</form>
</body>
</html>