<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Descargar Informacion Base de Datos</title>
</head>
<body>
<form action="/formularioDescargar/" method="post">
{% csrf_token %}
<select name="nombreBaseDatos">
    <option value="">Selecciona una Opcion</option>
    {% for post in arregloBasesDatos %}
    <option value="{{post}}">{{post}}</option>
    {% endfor %}
</select><br>

    Fecha inicial
    <input type="text" name ="fechaInicial" required><br><br>
    Fecha final
    <input type="text" name ="fechaFinal" required><br><br>
    <br>

<select name="formato" id="no_conformidad">
<option value="">Selecciona una Opcion</option>
<option value="tr_j1">Solicitudes de diario	</option>
<option value="ANI">Analisis de Indicadores</option>
<option>Auditoria de Servicio</option>
<option>Auditoria de Calidad</option>
<option>Queja de cliente</option>
<option>Planeacion de No Conformidades</option>
</select>

</form>
<button type="submit" > Descargar </button>
</body>
</html>