<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
   {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Ver Reporte</title>
</head>
<body>
<form action="/formularioDescargar/" method="post">
{% csrf_token %}
    <label> Seleccione la BDB que desea </label><br>
    {% for post in arregloBasesDatos %}
        <input type="checkbox" name="{{post}}" value="1"> {{post}}<br><br><br>
    {% endfor %}

    <input type="checkbox" name="allDataBase" id="allDataBase" value="1">Buscar Todas las Bases de Datos<br><br>
    Fecha inicial
    <input type="text" name ="fechaInicial" required><br><br>
    Fecha final
    <input type="text" name ="fechaFinal" required><br><br>
    <br>

<select name="formato" id="no_conformidad">
<option value="">Selecciona una Opcion</option>
<option value="tr_j1">Solicitudes de diario	</option>
</select><br><br>
<button type="submit" > Buscar </button>
</form>

</body>
</html>