{% if messg %}
<script>
    alert('{ Error }');
</script>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SigIn</title>
</head>
<body>
<form action="/postsign/" method="post">
    {% csrf_token %}
    Usuario :
    <input type="email" name ="email"><br><br>
    Contraseña :
    <input type="password" name ="pass"><br><br>
    <input type="submit" value = "SignUp">
    <button type="button" onclick="location.href='{% url 'signup'%}'"> Registrarse  </button>
</form>
</body>
</html>