<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Ver Bases de Datos Bibliograficas</title>
</head>
<body>
    <input type="text" name="aux" value="{{arregloBasesDatos}}" style="background:white; border:none; color: #fff;">
    {% csrf_token %}
    <table class="table table-bordered">
  <thead>
    <tr>
            <th>NOMBRE DE BASE DE DATOS</th>
            <th colspan="2">OPCIONES</th>
    </tr>
  </thead>
  <tbody>
    {% for baseDatos in arregloBasesDatos %}
            <tr>
                <th><p>{{baseDatos}}</p></th>
                <th><a href="/actualizarBDB?bbd={{baseDatos}}" style="text-decoration:none; color:black; padding: 10px">ACTUALIZAR</a></th>
                <th><a href="/eliminarBDB?bbd={{baseDatos}}" style="text-decoration:none; color:black; padding: 10px">ELIMINAR</a></th>
            </tr>
        {% endfor %}
  </tbody>
</table>

</body>
</html>