<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Ver Bases de Datos Bibliograficas</title>
</head>
<body>

<h6 style="font-family: Arial; color: #00C1FF; font-size:40px" class="card-title text-center">Bases de Datos</h6>
<br>

    {% csrf_token %}
    <table class="table table-bordered table-striped" style="text-align: center; width: 80%">
        <thead>
            <tr>
                <th>NOMBRE DE BASE DE DATOS</th>
                <th colspan="2">OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for baseDatos in arregloBasesDatos %}
                <tr>
                    <th><p>{{baseDatos}}</p></th>
                    <th><a href="/actualizarBDB?bbd={{baseDatos}}" style="text-decoration:none; color:black;">ACTUALIZAR</a></th>
                    <th><a href="/eliminarBDB?bbd={{baseDatos}}" style="text-decoration:none; color:black;">ELIMINAR</a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>