<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
   {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Ver Consulta Realizada</title>
</head>
<body>
{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>Nombre Base de datos</th>
            <th>Formato de Consulta</th>
            <th>Fecha Inicial Consulta</th>
            <th>Fecha Final Consulta</th>
            <th>Total de reporte</th>
        </tr>
    </thead>
    {% for consulta in consultaRealizada %}
        <tr>
            {% for key, value in consulta.items %}
                <th>{{value}}</th>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}
</body>
</html>