<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Ver Bases de Datos Bibliograficas</title>
</head>
<body>
<h6 style="font-family: Arial; color: #00C1FF; font-size:40px; margin-left: 35%" class="card-title">Formatos</h6>
<br>
    {% csrf_token %}
    <table class="table table-bordered table-striped" style="text-align: center; width: 80%">
        <tr>
            <th>FORMATO</th>
            <th colspan="2">OPCIONES</th>
        </tr>
        {% for formato in arregloformatos %}
            <tr>
                <th><p>{{formato}}</p></th>
                <th><a href="/actualizarFormato?idFormato={{formato}}" style="text-decoration:none; color:black; padding: 10px">ACTUALIZAR</a></th>
                <th><a href="/eliminarFormato?idFormato={{formato}}" style="text-decoration:none; color:black; padding: 10px">ELIMINAR</a></th>
            </tr>
        {% endfor %}
    </table>

</body>
</html>